<!DOCTYPE>
<html>

<head>
    <title>
        <%= student.name %>'s Homepage</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<style>
    body {
        padding-top: 70px;
    }
    
    footer {
        margin: 50px 0;
    }
    
    #profile-photo {
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200 px;
    }
    
    .centered-and-cropped {
        object-fit: cover
    }
</style>

<body>
    <script>
        $(document).ready(function () {
            $("#alert").fadeOut(5000);
            $("#submit_message").fadeOut(5000); 
        });
    </script>
    <% include top-navbar-home %>
        <% if(message.length > 0) { %>
        <div id="alert" class="alert alert-success">
            <strong>Success!</strong>
            <%= message %>
        </div>
       <% } %>

        <div class="container">
            <div style="margin-bottom: 60px" class="media">
                <div class="media-left">
                    <a href="#">
                    <img id="profile-photo" class="centered-and-cropped" width="200" height="200" 
   src="<%= student.profile_photo %>">
                </a>
                </div>
                <div class="media-body">
                        <h1 class="page-header">
                            <%= student.name %>
                                <small>Portfolio</small>

                        </h1>
                        <p>
                            <%= student.description %>
                        </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="row">
                        <% for(var i=0; i<projects.length; i++){%>
                            <div class="col-xs-9">
                                <div class="card thumbnail">
                                    <img src="<%= projects[i].screenshot %> " alt="">
                                    <div class="caption">
                                        <h4 class="card-title">
                                            <%= projects[i].title %>
                                        </h4>

                                        <p> <a href="<%= projects[i].link %>" class="btn btn-primary card-link">Visit Website</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-container">
                        <h3 style="margin-bottom:40px;">Add New Project</h3>
                        <h5 id="submit_message" style="color: red">
                            <% if(submit_message.length > 0) %>
                                <%= submit_message %>
                        </h5>
                        <form class="form" method="POST" enctype="multipart/form-data" action="/home">
                            <div class="form-group">
                                <label for="InputTitle">Title</label>
                                <input name="title" type="text" class="form-control" id="InputTitle" placeholder="Title" required>
                            </div>
                            <div class="form-group">
                                <label for="InputLink">Link</label>
                                <input name="link" type="url" class="form-control" id="InputLink" placeholder="Link">
                            </div>
                            <label>Screenshot </label>
                            <input type="file" name="screenshot">
                            <br>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <% include footer %>
        </div>
        <script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>